.blog-page002-the-road-to-apple-car-play-in-an-older-car-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-heading {
  font-style: italic;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-text07 {
  text-decoration: underline;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-text09 {
  text-decoration: underline;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-ul {
  list-style-type: square;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-text21 {
  text-decoration: underline;
}
.blog-page002-the-road-to-apple-car-play-in-an-older-car-ul1 {
  list-style-type: square;
  list-style-position: outside;
}
@media(max-width: 479px) {
  .blog-page002-the-road-to-apple-car-play-in-an-older-car-text {
    font-style: normal;
    font-weight: 600;
  }
}
