.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unitandahalfunit);
  justify-content: space-between;
}
.Container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  display: contents;
}
.component1 {
  text-decoration: none;
}
.link1 {
  display: contents;
}
.component2 {
  text-decoration: none;
}
.link2 {
  display: contents;
}
.component3 {
  text-decoration: none;
}
.link3 {
  display: contents;
}
.component4 {
  text-decoration: none;
}
.link4 {
  display: contents;
}
.component5 {
  text-decoration: none;
}
.link5 {
  display: contents;
}
.component6 {
  text-decoration: none;
}
.link6 {
  display: contents;
}
.component7 {
  text-decoration: none;
}
.container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.link7 {
  display: contents;
}
.image {
  width: 120px;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .Container2 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .Container2 {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .Container2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
