.container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon {
  width: 24px;
  height: 24px;
}
.text {
  color: var(--dl-color-secondary-600);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text1 {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 300;
}
.text2 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}







@media(max-width: 767px) {
  .container {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .container {
    width: 100%;
  }
}
